<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div>
  <div>
<%= form_with url: session_path do |form| %>
  <div>
  email
  </div>
  <div>
    <%= form.email_field :email_address, 
    required: true, 
    autofocus: true, 
    autocomplete: "username", 
    placeholder: "Enter your email address", 
    value: params[:email_address] %>
  </div>
  <div>
    password
  </div>
  <div>
    <%= form.password_field :password,
    required: true, 
    autocomplete: "current-password", 
    placeholder: "Enter your password", 
    maxlength: 72 %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>
</div>
<div>
  <div>
    <%= link_to "Forgot password?", new_password_path %>
  </div>
  <div>
    <%= link_to "sign up", new_registration_path %>
  </div>
</div>
</div>

