<%= form_with model: mmixal_program do |form|%>
<div class="ide-layout" data-controller="ide-facade">
  <%= form.hidden_field :title %>
  <div class="ide-content">
    <%= render "input", form: form %>
    <%= render "registers" %>
  </div>
  <div class="editor-actions ide-layout-actions">
    <%= render "controls", form: form %>
  </div>
  <div class="ide-layout-output" data-ide-facade-target="output">
    <%= render "output" %>
  </div>
</div>
<% end %>
