<div>
  <div>
    <h1>Edit User</h1>
  </div>
  <div>
<%= form_with model: @user do |f| %>
  username: <%= @user.user_name %>, email: <%= @user.email_address %>, role: <%= f.select :role, User.roles.keys %> <button type="submit">Submit</button> 
<% end %>
  </div>
  <div>  
<%= link_to "Back", users_path %>
  </div>
</div>
